.header__setting__wrapper {
  background-color: #f5f5f4;
  border-radius: 25px;
  height: 36px;
  display: flex;
  padding: 0 10px 0 5px;
  align-items: center;
}

.header__menu {
  background-color: var(--gray);
}